
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Playfair+Display&family=Waiting+for+the+Sunrise&display=swap');


* {
  border: 0;
  padding: 0;
  margin: 0
}

.meme-generator {
  font-family: 'Waiting for the Sunrise', cursive;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 10px;
  padding: 20px;
}

.meme-generator img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px; /* Reduced margin for smaller screens */
  border-radius: 20px;
}

.meme-generator .generate-meme-btn {
  padding: 8px 20px; /* Adjusted button padding */
  margin-top: 15px; /* Reduced margin for smaller screens */
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
    transition: all 500ms ease;
}

.meme-generator .generate-meme-btn:hover {
  padding: 8px 36px;
  border-left: 8px solid #222;
  border-right: 8px solid #222;
  letter-spacing: 3px;
}

.meme-generator .meme-author {
  padding: 10px;
  font-size: large; /* Adjusted font size for smaller screens */
}

.meme-title {
  color: #fff;
  margin-bottom: 10px; /* Reduced margin for smaller screens */
}

.Welcome {
  margin-top: 0px;
  padding-top: 20px; /* Reduced padding for smaller screens */
  padding-bottom: 5px;
  color: #fff;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .meme-generator {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    padding: 10px; /* Adjusted padding for smaller screens */
  }

  .Welcome {
    padding-top: 10px; /* Further reduced padding */
  }

  .meme-generator img {
    margin-bottom: 10px; /* Reduced margin */
  }
}

@media screen and (max-width: 900px) and (min-width: 601px) {
  /* No changes for this breakpoint */
}
/*gradient*/
.meme-generator {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*gradient*/
.Welcome{
  
  font-family:'Waiting for the Sunrise', cursive;
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 5px;
  color: #fff;
}

